extends layout

block content
	div(class='container container-content')
		ul(id='js-products' class='content content-products clearfix')
			include partials/product

block sidebar
	div(class='container container-sidebar')
		ul(id='js-cart' class='sidebar sidebar-user-products-list')
		div(id='js-user-wallet' class='sidebar sidebar-user-wallet')
			div
				p TOTAL: 
					span(id='total-ammount')
						&euro; 0.00

block info
	div(class='container container-info clear')
		p Shopping cart preview app
		p by Martins Giberts 24.11.2014